
<script id='panel-template' type="text/html">
	<div class='content'>
		<div class='fixed'>
			<span id='name' class='small'></span>
			<!--<span id='name'></span>
			<h1>Dynamic Bezel Lines</h1>-->
			<img src='./images/students/Jenai-Akina.jpg' >
			<span class='excerpt'><p id='email' class='info'></p></span>
			<span class='excerpt'><p id='phone' class='info'></p></span>
			<span class='excerpt'><p id='house' class='info'></p></span>
			<span class='excerpt'><p id='room' class='info'></p></span>
			<span class='excerpt'><p id='year' class='info'></p></span>
			<span class='small read'><span class='icon'>v</span>More Info</span>
		</div>
	</div>
	<div class='color'>
		<div class='footer'></div>
	</div>
</script>