.mm .top-nav .logo::after{display:inline;content: 'ΣX'; left:-7px;color:#F8C230;} .mm .header h1{color:#F8C230} .icon {font-family: 'icons'}

header#header {
	min-width: 1000px;
}

.admin-content {
	color: #000;
	font-family: 'Gotham A','Gotham B',sans-serif;
	position: relative;
	display: inline-block;
	margin-top: 100px;
	margin-left: 80px;
	margin-bottom: 100px;
}

.admin-content span {
	font-weight: 300;
	font-size: 25px;
}

.rush-info {
	margin-top: 30px;
	width: 350px;
	margin-left: 0px;
}

.rush-info input {
	height:50px;
	width: 350px;
	border:1px solid #16528e;
	background: #fff;
	line-height: 20px;
	color: #0B3F73;
	display: block;
	margin: 10px 0px;
}

.rush-info .button {
	margin: auto;
	padding: 0;
	border: 0;
}

.rush-info .button span {
	background-color: #16528e;
	color: #fff;
	padding: 10px;
	width: 350px;
	text-align: center;
	-webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
    float: right;
}

.rush-info .button span:hover {
	background-color: #2771BA;
	cursor: pointer;
}

.panels img {
	height: 100px;
	margin: 20px 0px;
}

.panels .excerpt {
	margin-top: 0px;
}

.links.search {
	position: absolute;
	left: 0;
	z-index: 50;
	padding-top: 10px;
	width: 415px;
}

.links.search input {
	height:32px;
	width: 350px;
	border:1px solid #16528e;
	background: #fff;
	line-height: 20px;
	color: #0B3F73;
	display: block;
	float: left;
	margin-left:15px;
	padding:0px 10px;
	font-size: 16px;
	font-weight: 200;
}

.links a {
	z-index: 100;
}

.links.logout {
	position: absolute;
	right: 0;
	z-index: 50;
	padding-top: 10px;
	width: 415px;
}

.links.logout a {
	margin-top: 8px;
	float: right;
	margin-right:15px;
}
